.box {
  margin: 5px;
}
header {
  background-color: cadetblue;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.a,
.b,
.c {
  margin: 20px;
  padding: 20px;
  background-color: beige;
}

.left-box {
  padding: 3%;
  height: 460px;
  width: 44%;
  float: left;
  background: burlywood;
}

.img {
  height: 460px;
  width: 44%;
  padding: 3%;
  float: right;
  background: antiquewhite;
}

footer {
  height: 10%;
  width: 94%;
  padding: 3%;
  text-align: center;
  background: skyblue;
}

.clear {
  clear: both;
}
@media screen and (max-width: 800px) {
  body {
    background: red;
  }
}
