.box {
  margin: 5px;
}
header {
  background-color: aliceblue;
  height: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.div {
  margin: 20px;
  padding: 20px;

  background-color: cadetblue;
  float: left;
}
.div2 {
  margin: 20px;
  padding: 20px;
  background-color: chocolate;
  float: left;
}
.div3 {
  margin: 20px;
  padding: 20px;
  background-color: darkgoldenrod;
  float: left;
}

section div:first-child {
  text-align: center;
  background-color: gold;
  height: 100px;
}
section div:nth-child(2) {
  text-align: center;
  background-color: lawngreen;
  height: 100px;
}
footer {
  text-align: center;
  background-color: aqua;
  height: 100px;
}
.clear {
  clear: both;
}
@media screen and (max-width: 500px) {
  body {
    background: red;
  }
}
