* {
  margin: 5px, 5px;
}
header div {
  padding: 4%;
  background: burlywood;
  text-align: center;
}

section div:first-child {
  margin-top: 13px;
  padding: 4%;
  height: 160px;
  width: 260px;
  background: wheat;
  text-align: center;
  float: left;
}
section div:nth-child(2) {
  margin-top: 13px;
  padding: 4%;
  height: 115px;
  width: 940px;
  background: yellowgreen;
  text-align: center;
  float: right;
}

footer {
  margin-top: 300px;
  padding: 4%;
  background: pink;
  text-align: center;
}
