header div:first-child {
  padding: 4%;
  background: blue;
  width: 42%;
  float: left;
}
header div:nth-child(2) {
  padding: 4%;
  background: green;
  width: 42%;
  float: left;
}
.clear {
  clear: both;
}
nav {
  background-color: wheat;
}

nav ul li {
  padding-top: 2%;
  height: 50px;
  text-align: center;
  background: red;
  width: 10%;
  float: left;
  list-style: none;
  margin: 3px;
}
a {
  color: black;
  text-decoration: none;
}
section div:first-child {
  padding: 4%;
  background: rgb(41, 41, 136);
  width: 42%;
  float: left;
}
section div:nth-child(2) {
  padding: 4%;
  background: green;
  width: 42%;
  float: left;
}

footer {
  padding: 4%;
  margin-top: 100px;
  background-color: yellow;
}
