/* .box {
  margin: 5px;
}
.header {
  text-align: center;
  padding: 20px;
  background-color: blue;
}
.main {
  text-align: center;
  padding: 20px;
  background-color: royalblue;
}
.nav {
  text-align: center;
  padding: 20px;
  background-color: darkblue;
}
.aside {
  text-align: center;
  padding: 20px;
  background-color: purple;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: skyblue;
}
@media screen and (min-width: 500px) {
  body {
    background: red;
  }
} */
